


<header>
    <div class="bubble"></div>

    <h1>OpenTheater</h1>
    <p>Watch live movies with your friends exactly like in theatres.</p>

    <a href="#/explore">Explore the movies</a>

    <br>

    <p>
        I'm an ugly page please make me look good Bryan.
    </p>

</header>

<div class="cards">

    <section class="row">
        <div class="col s12 m3 l2">
            <div class="icon">
                <i class="material-icons">layers</i>
            </div>
        </div>
        <div class="col s12 m9 l10">
            <h1>A good UX Web Design</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </section>

    <section class="row">
        <div class="col s12 m3 l2">
            <div class="icon">
                <i class="material-icons">layers</i>
            </div>
        </div>
        <div class="col s12 m9 l10">
            <h1>Responsive for all devices</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </section>

    <section class="row">
        <div class="col s12 m3 l2">
            <div class="icon">
                <i class="material-icons">layers</i>
            </div>
        </div>
        <div class="col s12 m9 l10">
            <h1>A multitude of extensions</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </section>

    <section class="row">
        <div class="col s12 m3 l2">
            <div class="icon">
                <i class="material-icons">layers</i>
            </div>
        </div>
        <div class="col s12 m9 l10">
            <h1>+30 videos tutorial</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </section>

    <section class="added" id="section0">
        <h1>IT'S A NEW ELEMENT !</h1>
    </section>

</div>

<a href="#!" onclick="addSection(this)">
    <div class="floating-button" href="#toast" data-toggle="toast" data-toast-posy="top" data-toast-posx="right" data-toast-inner="You have added a new element" data-toast-delay="5" >+</div>
</a>