
<div class="site-wrapper">
  <div class="site-wrapper-inner">

    <div class="cover-container">
      <div class="inner cover black">
        <h1 style="font-size:50px;">OpenTheater, Theater at home.</h1>
        <br/>
        <h2>- Watch movies with your friends ! -</h2>
        <br/>
        <p class="lead">
          <md-button class="md-raised md-primary" href="./#/login">Se connecter</md-button>
          <md-button class="md-raised" href="./#/signup">S'inscrire</md-button>
        </p>
      </div>
      <md-button>More to know</md-button>
    </div>

  </div>

</div>
<div class="site-wrapper" id="about">
  <div class="site-wrapper-inner">
    <div >
      <div class="inner cover black">
        <h1>A propos de OpenTheater</h1>
        <br/>
            <div flex-gt-lg="50" flex-xs="100" flex-sm="100" flex-md="80" flex-offset-xs="0" flex-offset-sm="0" flex-offset-gt-md="25" flex-offset-md="10" flex-offset-gt-lg="25" flex-lg="50" >
              <div layout="row" layout-xs="column">
                <div flex-md="33"><img src="http://placehold.it/400x200" style="width: 100%; display: block;"/></div>
                <div flex-md="66"><p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p></div>
              </div>
              <div layout="row" layout-xs="column">
                <div flex-md="66" flex-order-xs="1"><p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p></div>
                <div flex-md="33" flex-order-xs="0"><img src="http://placehold.it/400x200" style="width: 100%; display: block;"/></div>
              </div>
              <div layout="row" layout-xs="column">
                <div flex-md="33"><img src="http://placehold.it/400x200" style="width: 100%; display: block;"/></div>
                <div flex-md="66"><p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p></div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>