
.file-upload{
    border: 1px dashed #888 !important;
    padding: 50px !important;
    border-radius: 4px !important;
    color: #777 !important;
}


.marged-form{
    margin-top: 3em;
}

.marged-load{
    margin-top: 20em;
    display:none; text-align: center;
}

.white{
    background-color: #ecf0f1 !important;
    color: #222 !important;
}

.blue{
    background-color: #2980b9 !important;
}

.btn{
    padding: 20px 40px 20px 40px;
    font-weight: bold;

    margin-left: 0px;
}

.lead{
    font-family: 'Raleway';
    font-size: 1.5em;
}

.home-title{
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 4em;
    margin-bottom: 0px;
}

.home-lead{
    font-weight: 300;
}

.card-link{
  text-decoration: none;
}

.tag-chip{
  margin-right: 5px; background: #CCCCCC; padding: 5px; color: white; display: inline-block; position: relative;
  color: black;
  border-radius: 22px;
  padding: 3px 8px 3px 8px;
  font-size: 10px;
  opacity: .7;
}

body {
  background: #F1F1F1;
  font-family: 'Roboto', sans-serif;
  height: auto;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  Height: 30vh;
  background: #F1F1F1;
  overflow: hidden;
}

.bubble {
  height: 60px;
  width: 60px;
  background-color: #2196F3;
  top: 15vh;
  right: 50%;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(60);
  -webkit-animation: bg-in 4s cubic-bezier(0.2, 0.3, 0, 1);
  animation: bg-in 4s cubic-bezier(0.2, 0.3, 0, 1);
}

@-webkit-keyframes bg-in {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes bg-in {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

.floating-button {
  position: fixed;
  z-index: 100;
  width: 50px;
  height: 50px;
  background: #E91E63;
  color: #FFF;
  font-size: 2em;
  border-radius: 50%;
  top: 30vh;
  right: 10%;
  margin-top: -25px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -kthtml-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.floating-button:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  margin-top: -30px;
}

html,
body {
    height: 100%;
    background-color: #F1F1F1;
    #background: url('img/background.jpg') no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}
body {
    color: black;
    /*text-align: center;*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color:white;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0,0,0,.55);

}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 2rem;
}

/*
 * Header
 */

.masthead {
    /*margin-bottom: 2rem;*/
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: bold;
    color: rgba(255,255,255,.5);
    background-color: transparent;
    /*border-bottom: .25rem solid transparent;*/
}


/*
 * Footer
 */

.mastfoot {
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}


#about{
    height:100%;
    width:100%;
    background:#ddd;
    border-top:2px solid whitesmoke;
    display:table;
}.loginBox {
     max-width:  90%;
     width: 500px
 }

.stretch input  {
    width: 100%
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
