<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1" style="width:400px;">
        <md-toolbar>
            <h2 class="md-toolbar-tools">Création d'une salle</h2>
        </md-toolbar>
        <md-content layout="row" class="md-padding">
            <div>
                <md-input-container>
                    <label>Nom de la salle</label>
                    <input ng-model="room.name">
                </md-input-container>
                <md-input-container>
                    <label>Nom du film</label>
                    <input ng-model="movie.name">
                </md-input-container>
                <md-input-container>
                    <label>Description</label>
                    <textarea ng-model="movie.description"></textarea>
                </md-input-container>

                <md-input-container>
                    <label>Nombre de personnes max</label>
                    <input required type="number" step="any" name="rate" ng-model="project.rate" min="1"
                           max="100" value="1" />
                </md-input-container>
                <br/>
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                    Privé ?
                </md-checkbox>
                <br/>

                <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)" />
                <br/>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button class="md-raised md-primary">Créer la salle</md-button>
                </div>
            </div>
        </md-content>
    </div>
</div>