
<div class="site-wrapper-inner">
    <div >
        <div class="inner cover black">
            <h1>You are watching : <b>{{room.name}}</b> !</h1>
            <br/>
            <div flex="100">
                <div layout="row" layout-sm="column">
                    <div flex-md="66" flex-order-sm="1">
                        <video width="1280" height="720" id="vid" controls autoplay poster="https://i.ytimg.com/vi/yTrgEOIoc-M/maxresdefault.jpg" />
                        <!--<img src="http://placehold.it/1280x720" style="width: 100%; display: block;"/>-->
                    </div>
                    <div flex-md="33" flex-order-sm="2">
                        <div layout="column" flex layout-fill ng-cloak>
                        <md-toolbar>
                            <div class="md-toolbar-tools">Chat</div>
                        </md-toolbar>
                        <md-content style="max-height: 500px;" md-theme="altTheme">
                            <section>
                                <md-list layout-padding>
                                    <md-list-item class="md-3-line" ng-repeat="message in messages">
                                        <div class="md-list-item-text">
                                            <h3 align="left">{{message.username}}</h3>
                                            <p>
                                                {{message.content}}
                                            </p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </section>
                        </md-content>
                        <div  class="md-inline-form">
                        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding style="background:#EEE;">
                            <div>
                                    <label>Message : </label><input ng-model="currentMessage" type="text">
                                    <md-button  class="md-raised" ng-click="sendChatMessage()">Envoyer </md-button>
                            </div>
                        </md-content>
                        </div>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
